#detail{
    margin: auto;
    padding-top:50px;
    padding-left: 100px;
}


#cover{
    float: left;
    margin-right: 50px;
}
#info{
    /* float: left; */
    position: relative;
    min-height: 430px;
    margin: 15px;
    right: 15px;
}